/**
 * Iterator
 */

 .wp-block-cs-gutenberg-blocks-iterator {
	padding:0 20px;
	border: 1px solid rgb(128,128,128);

    .components-button {
		border-radius: 50% !important;
	}

	&__heading {
		margin:0 -20px;
		padding:0 20px;
		background: rgba(128,128,128, 0.5);

		.editor-styles-wrapper & {
			font-size: 25px;
    		line-height: 55px;
			margin-top: unset;
			padding-bottom: unset;
		}
	}

	&-items {
		color: rgb(0,0,0);
		padding: 0 20px;
		border: 1px solid rgb(169,169,169);
	}
}

/*
* Display Posts
*/

.wp-block-cs-gutenberg-blocks-display-posts {
	border: 1px solid rgb(128,128,128);
	padding: 20px;

  * {
    box-sizing: border-box;
  }

	&__item {
		border:1px solid rgb(169,169,169);
		min-height: 20rem;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;

    &:last-child() {
      margin-bottom: unset;
    }

		> * {
			position: relative;
			z-index: 2;
		}

		svg {
			path {
				fill: currentColor;;
			}
		}

		span {
			color: inherit;
		}

		ul,
		li { color: inherit}

	}

	&__img-container {
		position: absolute;
		height: 100%;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 1;
    overflow: hidden ;

    img {
      object-fit: cover;
      max-width: unset!important;
      height: 100% !important;
      width: 100%;
    }

    figure {
      height: 100%;
      width: 100%;
    }
	}

	&__date {
		display: flex;
		align-items: center;
		color: inherit;

		svg {
			margin-right: 0.8em;

      path{
        fill: currentColor;
      }
		}
	}

	&__heading {
		margin-bottom: 2em;
    display: inline-block;
	}

  &__categorys-name {
    margin-top: unset;
    margin-bottom: 1em;
  }

  &__content {
    position: relative;
    z-index: 2;
    padding: 20px;
  }

  &__missing-posts {
    text-align: center;
    font-size: 30px;
  }

	ul {
		list-style: none !important;
		padding: unset !important;
		margin-left: unset !important;
		display: flex;

		li:nth-child(n + 2) {
			margin-left: 1em;
		}
	}

  &--grid {

    .wp-block-cs-gutenberg-blocks-display-posts__item {
      display: grid;
      grid-template-columns: 80px 1fr;
      column-gap: 10px;
      padding: 10px;
      height: 100px;
      min-height: unset;
      align-self: center;
      margin-bottom: 20px;
  
      &:last-child() {
        margin-bottom: unset;
      }
    }

    .wp-block-cs-gutenberg-blocks-display-posts {
      &__img-container {
        position: relative;
        width: 80px;
        height:80px !important;
        grid-column: 1/2;
        grid-row-start: 1;
        grid-row-end: auto;
      }

      &__categorys-name {
        margin-bottom: unset !important;
      }

      &__content {
        grid-column: 2/3;
        margin-bottom: unset !important;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 80px;
        position: relative;
        padding: unset;
        overflow-y: hidden;
      }

      &__heading {
        margin-bottom: unset;
      }
    }
  }

  &--column {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.wp-admin {

  select[multiple].components-select-control__input {
    height: 113px;
  }

  select[multiple].components-select-control__input + .components-input-control__suffix {
    display: none;
  }
}

/*
* Tabs
*/

.wp-block-cs-gutenberg-blocks {

	&-tabs__heading {
		margin:0 -20px;
		padding:0 20px;
		background: rgba(128,128,128, 0.5);
    font-size: 25px;
    
		.editor-styles-wrapper & {
			font-size: 25px;
			line-height: 55px;
			margin-top: unset;
			padding-bottom: unset;
		}
	}

	&-tabs {
		padding:0 20px;
		border: 1px solid rgb(128,128,128);
	
		.components-button {
			border-radius: 50% !important;
		}
		
		&-item {
			color: rgb(0,0,0);
			padding: 0 20px;
			border: 1px solid rgb(169,169,169);
		}
	}
}


.wp-block-cs-gutenberg-blocks-tabs-item {
	padding:0 20px;
	border: 1px solid rgb(128,128,128);
}

/*
* Member team
*/

.wp-block-cs-gutenberg-blocks-member-team {
	position: relative;
	width: 100%;

	@media screen and (min-width: 1280px) {
		display: grid;
		grid-template-columns: 42rem 1fr;

		figure {
			margin: unset !important;
		}
	}

	.wp-block-cs-gutenberg-blocks-member-team__text {
		&-1,
		&-2 {
			p {
				margin: unset;
				
			}
			align-self: center;
		}
	} 

	&--main {
		.wp-block-cs-gutenberg-blocks-member-team__text-1 {
			background: linear-gradient(to right, #091628, #265594);
		}
	
	}

	&--second {
		.wp-block-cs-gutenberg-blocks-member-team__text-1 {
			background-color: #D9000D;
		}
	}
 
	.block-editor-inner-blocks {
		grid-column: 1/2;
		grid-row: 1/2;
		width: 100%;
	}

	&--main,
	&--second {
		.wp-block-cs-gutenberg-blocks-member-team__text-1 {
			grid-column: 2/3;
			grid-row: 1/2;
			align-self: center;
			justify-self: flex-start;
			min-width: 420px;
			min-height: 100px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			font-size: 24px;
			line-height: 22px;
			color: #fff;
			padding: 0 30px;
			position: relative;
	
			@media screen and (min-width: 1280px) {
				left: -90px;
			}
	
			p {
				margin: unset;
	
				&:first-child {
					text-transform: uppercase;
				}
	
				&:nth-child(n + 2) {
					font-size: 18px;
				}
			}
		}
	
		.wp-block-cs-gutenberg-blocks-member-team__text-2 {
			grid-column: 1/3;
			grid-row: 2/3;
			min-height: 100px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 0 30px;
			margin-top: 20px;
			border: 1px solid rgb(128,128,128);
	
			@media screen and (min-width: 1280px) {
				border: unset;
				padding: unset;
			}
	
			p,
			a {
				font-size: 24px;
				line-height: 36px;
				color: #5F687C;
				font-weight: 600;
			}
		}
	}

	&--author {
		background: linear-gradient(to right, #091628, #265594);
		padding: 21px 0;
		grid-template-columns: 11.5rem 1fr;

		@media screen and (min-width: 580px) {
			display: grid;
		}

		.block-editor-inner-blocks {
			grid-column: 1/2;
			grid-row: 1/3;
			position: relative;

			@media screen and (min-width: 580px) {
				&::after {
					content: '';
					position: absolute;
					right: -1px;
					top: 0;
					width: 2px;
					height: 100%;
					background-color: #D9000D;
				}
			}
		}

		figure {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}

		.is-style-rounded img {
			border: 2px solid #DCDDE1;
		}

		.wp-block-cs-gutenberg-blocks-member-team {
			&__text-1,
			&__text-2 {
				grid-column: 2/3;
				display: flex;
				flex-direction: column;
				position: unset;
				color: #DCDDE1;
				height: 100%;
				margin-left: 2rem;

				* {
					font-size: 1.5rem;
					line-height: 2.1rem;
				}
			}

			&__text-1 {
				grid-row: 1/2;
				font-weight: 300;
				justify-content: flex-end;
			}

			&__text-2 {
				grid-row: 2/3;
				font-weight: 700;
			}
		}
	}
}
