/**
 * Display posts
 */

 .wp-block-cs-gutenberg-blocks-display-posts {

	* {
		box-sizing: border-box;
	}

	&__item {
			min-height: 20rem;
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;

	&:last-child() {
		margin-bottom: unset;
	}

	> * {
			position: relative;
			z-index: 2;
	}

	svg {
			path {
					fill: currentColor;;
			}
	}

	span {
			color: inherit;
	}

	ul,
	li { color: inherit}

	}

	&__img-container {
			position: absolute;
			height: 100%;
			width: 100%;
			left: 0;
			top: 0;
			z-index: 1;
	overflow: hidden ;

	img {
		object-fit: cover;
		max-width: unset!important;
		height: 100% !important;
		width: 100%;

	}

	figure {
		height: 100%;
		width: 100%;
	}
	}

	&__date {
			display: flex;
			align-items: center;
			color: inherit;

			svg {
					margin-right: 0.8em;

			path{
				fill: currentColor;
			}
		}
	}
  
	&__heading {
			margin-bottom: 2em;
			display: inline-block;
			color: inherit;
			text-transform: uppercase;
	}
  
	&__categorys-name {
		margin-top: unset;
		margin-bottom: 1em;
	}
  
	&__content {
		position: relative;
		padding: 20px;
	}
  
	ul {
			list-style: none !important;
			padding: unset !important;
			margin-left: unset !important;
			display: flex;

			li:nth-child(n + 2) {
					margin-left: 1em;
			}
	}
  
	&--grid {

		.wp-block-cs-gutenberg-blocks-display-posts__item {
			display: grid;
			grid-template-columns: 80px 1fr;
			column-gap: 10px;
			padding: 10px;
			height: 100px;
			min-height: unset;
			align-self: center;
			margin-bottom: 20px;
	
			&:last-child() {
				margin-bottom: unset;
			}
		}
		
		.wp-block-cs-gutenberg-blocks-display-posts {
			&__img-container {
				position: relative;
				width: 80px;
				height:80px !important;
				grid-column: 1/2;
				grid-row-start: 1;
				grid-row-end: auto;
			}

			&__categorys-name {
				margin-bottom: unset !important;
			}

			&__content {
				grid-column: 2/3;
				margin-bottom: unset !important;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				height: 80px;
				position: relative;
				padding: unset;
				overflow-y: hidden;
			}

			&__heading {
				margin-bottom: unset;
			}
		}
	}

	&--column {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}

/*
* Tabs
*/
.wp-block-cs-gutenberg-blocks {
	&-tabs {

		.nav-tab {
			list-style-type: none;
			margin-left: unset;
			margin-bottom: unset;
			padding: unset;
			display: flex;
			flex-wrap: wrap;

			li {
				display: flex;			
			}

			.tab-item {
				cursor: pointer;
				border: 1px solid rgba(128,128,128, 0.5);
				padding: 1rem 2rem;

				&.active {
					background-color: rgba(128,128,128, 0.5);
					color: #fff;
				}
			}
		}

		&:not(.init-cumulus-tab) {
			.wp-block-cs-gutenberg-blocks-tabs-item {
				display: none;

				&:first-child {
					display: block;
				}
			}
		}

		.wp-block-cs-gutenberg-blocks-tabs-item {
			display: none;
			height: 460px;
			overflow-y: auto;

			&.active {
				display: block;
				padding: 2rem;
				border: 1px solid rgba(128,128,128, 0.5);
			}
		}
	}
}

/*
* Member team
*/

.wp-block-cs-gutenberg-blocks-member-team {
	position: relative;

	@media screen and (min-width: 1600px) {
		display: grid;
		grid-template-columns: 42rem 1fr;
	}

	&--main {
		.wp-block-cs-gutenberg-blocks-member-team__text-1 {
			background: linear-gradient(to right, #091628, #265594);
		}
	}

	&--second {
		.wp-block-cs-gutenberg-blocks-member-team__text-1 {
			background-color: #D9000D;
		}
	}

	.wp-block-cs-gutenberg-blocks-member-team__text {
		&-1,
		&-2 {
			p {
				margin: unset;
				
			}
			align-self: center;
		}
	} 
	
	&--main,
	&--second {

		figure {
			grid-column: 1/2;
			grid-row: 1/2;
			width: 100%;
			position: relative;
			padding-top: 71.4%;
			
			&:after {
				content:"";
				display: block;
				position: absolute;
				bottom: -1px;
				width: 100%;
				height: 2px;
				background-color: #D9000D;
			}

			img {
				position: absolute;
				top: 0;
				left: 0;;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.wp-block-cs-gutenberg-blocks-member-team__text-1 {
			grid-column: 2/3;
			grid-row: 1/2;
			grid-column: 2/3;
			grid-row: 1/2;
			align-self: center;
			justify-content: center;
			justify-self: flex-start;
			min-width: 420px;
			min-height: 100px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 0 2.5rem;
	
			@media screen and (min-width: 1600px) {
				position: absolute;
				left: - 90px;
				top: calc(50% - 50px);
			}
	
			p {
				margin: unset;
				color: #fff;
				font-size: 2.2rem;
				line-height: 2.2rem;
	
				&:first-child {
					text-transform: uppercase;
				}
	
				&:nth-child(n + 2) {
					font-size: 1.8rem;
				}
			}
		}

		.wp-block-cs-gutenberg-blocks-member-team__text-2 {
			grid-column: 1/3;
			grid-row: 2/3;
			margin-top: 1.5rem;
	
			p,
			a {
				font-size: 2.4rem;
				line-height: 3.6rem;
				color: #5F687C;
				font-weight: 600;
			}
			
			a {
				opacity: 1;
				transition: opacity 0.3s;
				&:hover {
					opacity: 0.8;
				}
			}
		}
	}

	&--author {
		background: linear-gradient(to right, #091628, #265594);
		padding: 21px 0;

		@media screen and (min-width: 580px) {
			display: grid;
		}

		grid-template-columns: 18rem 1fr;

		figure {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			grid-column: 1/2;
			grid-row: 1/3;
			position: relative;
			margin-bottom: 1.5rem;

			@media screen and (min-width: 580px) {
				margin-bottom: unset;

				&::after {
					content: '';
					position: absolute;
					right: -1px;
					top: 0;
					width: 2px;
					height: 100%;
					background-color: #D9000D;
				}
			}
		}
		
		.is-style-rounded img {
			border: 2px solid #DCDDE1;
			border-radius: 50%;
		}

		.wp-block-cs-gutenberg-blocks-member-team {
			&__text-1,
			&__text-2 {
				grid-column: 2/3;
				display: flex;
				flex-direction: column;
				position: unset;
				height: 100%;
				margin-left: 2rem;
				margin-right: 2rem;

				* {
					font-size: 2.4rem;
					line-height: 1.3;
					color: #DCDDE1;
				}
			}

			&__text-1 {
				grid-row: 1/2;
				font-weight: 300;
				justify-content: flex-end;
			}

			&__text-2 {
				grid-row: 2/3;
				font-weight: 700;
			}
		}
	}
}
